*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font-family: 'Kaushan Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'REM', sans-serif; */

::-webkit-scrollbar {
  width: 10px;
}

body[theme="light"] {
  --bg-body: #fcfdf2;
  --bg-white: #fff;
  --bg-light-yellow: #fdffae;
  --bg-light-blue: #c5dff8;
  --bg-medium-blue: #605e7c;
  --bg-bluish-gray: #435b66;
  --shadow-color: #eee;
  --text-color: #323232;
  --text-title: #222f5b;
  --accent-color: #5d3fd3;
  --form-text: #c5dff8;
  --add-btn-color: #fff;
  --calendar-hover: rgba(54, 69, 17, 0.65);
  --calendar-bg: #fff;
  --bg-list: #fff;
}

body[theme="dark"] {
  --bg-body: #18191a;
  --bg-white: #313131;
  --bg-light-yellow: #4f200d;
  --bg-light-blue: #38425e;
  --bg-medium-blue: #38425e;
  --bg-bluish-gray: #1e4047;
  --shadow-color: #151515;
  --text-color: rgba(255, 255, 255, 0.85);
  --text-title: rgba(255, 255, 255, 0.85);
  --accent-color: #005555;
  --form-text: #005555;
  --add-btn-color: #eee;
  --calendar-hover: rgba(54, 69, 17, 0.65);
  --calendar-bg: #545454;
  --bg-list: #232323;
}

ul {
  list-style: none;
}

div {
  width: 100%;
}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_row_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue_title {
  color: #222f5b;
}
input:focus {
  background-color: #fafc98;
}

@media (min-width: 226px) {
  .fa-bars {
    width: 20px;
    color: #fff;
    background-color: red;
  }

  .fa-plus {
    color: #222f5b;
    width: 15px;
    height: 15px;
  }

  .fa-xmark {
    position: relative;
    left: 1px;
    color: brown;
  }

  .fa-check {
    color: #fff;
  }

  .fa-book {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--form-text);
  }

  .fa-list {
    width: 1.2rem;
    height: 1.2rem;
    color: var(--text-color);
  }

  .fa-puzzle-piece {
    position: relative;
    top: 2px;
    transform: scale(0.75);
  }

  body {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    padding-bottom: 1rem;
    background-color: var(--bg-body);
  }

  /* header */
  header {
    position: relative;
    width: 100vw;
    height: 60px;
    padding: 1rem 0.75rem;
    /*  background-color: #222; */
    background-color: var(--bg-light-blue);
  }
  .to_do_header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_left {
    position: relative;
    left: -0.35rem;
    width: 60%;
    height: 100%;
    gap: 0.25rem;
    text-align: center;
  }

  .title_todo {
    color: var(--text-title);
    font-size: 24px;
    font-family: "Kaushan Script", cursive;
  }

  .nav_right {
    /* position: relative; */
    width: 64px;
    height: 100%;
  }

  .light_dark {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.75rem;
    z-index: 1;
    transition: all 1s ease-in-out;
  }

  .light_dark[data-color="0"] {
    /*  background-color: #3a914c; */
    background-color: #605e7c;
  }

  .light_dark[data-color="1"] {
    background-color: #663030;
  }

  /* btn theme style tneme*/

  .btn {
    position: relative;
    color: #fff;
    background-color: var(--accent-color);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all 1s ease-in-out;
  }

  .btn_light_mode {
    width: 20px;
    height: 16px;
    color: #fff;
    background-color: #e29f9f;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    z-index: 3;
  }

  .btn_dark_mode {
    width: 16px;
    height: 16px;
    color: #fff;
    background-color: #e9e068;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 3;
  }

  .btn_light_mode.current_mode {
    background-color: #ddd;
    color: #222f5b;
  }

  .btn_dark_mode.current_mode {
    background-color: #222;
    color: #fff;
  }

  .btn_light_mode:hover {
    background-color: #222f5b;
    color: #fff;
  }

  .btn_dark_mode:hover {
    background-color: #222;
    color: #fff;
  }

  /*section*/

  .gen_wrapper {
    position: relative;
    width: 100vw;
    padding: 0.75rem;
    margin: 0;
    /* background-color: green; */
  }

  .content_section {
    position: relative;
    width: 100%;
  }

  .tasks_panel {
    width: 210px;
    height: 120px;
  }

  /* first section tasks_boards*/

  .tasks_screen {
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .account_tasks {
    width: 49%;
    height: 120px;
    color: #fff;
    background-color: var(--bg-bluish-gray);
  }

  .total_tasks {
    width: 80%;
    font-size: 21px;
    text-align: center;
    gap: 0.25rem;
  }

  .litteral_number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e9e068;
  }

  .litteral_title,
  .label_tasks {
    font-size: 12px;
  }

  .flow_tasks {
    width: 48%;
    height: 120px;
    color: var(--text-color);
    font-family: "REM", sans-serif;
  }

  .completed_tasks,
  .pending_tasks {
    width: 100%;
    height: 50%;
    background-color: var(--bg-light-yellow);
  }

  .pending_tasks {
    background-color: var(--bg-medium-blue);
  }

  .load_content {
    width: 100%;
    height: 100%;
  }

  .drawn_tasks {
    width: 100%;
    height: 20px;
    padding: 0 0.5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: left; */
  }

  .progress_bar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .flow_tasks .tasks_completed.progress_bar,
  .flow_tasks .tasks_pending.progress_bar {
    --progress-bar: 0;
    position: relative;
    width: 88%;
    height: 5px;
    background-color: #00000031;
    -webkit-appearance: none;
    --moz-appearance: none;
    appearance: none;
    margin: 0.5rem 0;
    border-radius: 12px;
  }

  .flow_tasks .tasks_completed.progress_bar ::before,
  .flow_tasks .tasks_pending.progress_bar ::before {
    content: attr(data-count);
    position: absolute;
    left: var(--progress-bar);
    top: 50%;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    transform: rotate(45deg) translate(var(--progress-bar), -50%) scale(1);
    color: #fff;
    font-size: 0.95em;
    display: grid;
    place-items: center;
    transition: transform 150ms ease-in-out;
    /* background-color: #cfcbcb; */
  }

  .flow_tasks .tasks_completed.progress_bar ::before {
    background-color: #2e8b57;
  }

  .flow_tasks .tasks_pending.progress_bar ::before {
    background-color: #d2042d;
  }

  .flow_tasks .tasks_completed.progress_bar:hover::before,
  .flow_tasks .tasks_pending.progress_bar:hover::before {
    transform: rotate(45deg) translate(var(--progress-bar), -50%) scale(1.25);
  }

  .flow_tasks .tasks_completed.progress_bar::-webkit-progress-bar,
  .flow_tasks .tasks_pending.progress_bar::-webkit-progress-bar {
    height: 0.8em;
    background-color: #d31d31d3;
    border-radius: 100vmax;
  }

  .flow_tasks .tasks_completed.progress_bar::-moz-progress-bar,
  .flow_tasks .tasks_pending.progress_bar::-moz-progress-bar {
    height: 0.8em;
    background-color: #d31d31d3;
    border-radius: 100vmax;
  }

  .flow_tasks .tasks_completed.progress_bar::-webkit-progress-value {
    border-radius: 100vmax;
    background-color: #108a61;
  }

  .flow_tasks .tasks_pending.progress_bar::-webkit-progress-value {
    border-radius: 100vmax;
    background-color: #bb4f45;
  }

  /*   -moz-progress-bar <=> -webkit-progress-value
  to firefox*/

  .flow_tasks .tasks_completed.progress_bar::-moz-progress-bar {
    border-radius: 100vmax;
    background-color: #108a61;
  }

  .flow_tasks .tasks_pending.progress_bar::-moz-progress-bar {
    border-radius: 100vmax;
    background-color: #bb4f45;
  }

  /*  .flow_tasks .tasks_completed.progress_bar:val {
  } */

  /*current week*/

  .current_branch_week {
    width: 100%;
    height: auto;
    background-color: var(--calendar-bg);
    padding: 0 0.5rem;
    margin: 1rem 0;
  }

  .title_week {
    color: var(--text-color);
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: bold;
  }

  .week_range {
    color: var(--text-color);
    font-size: 12px;
  }

  .flow_container {
    position: relative;
    top: -0.75rem;
    width: 100%;
    height: 120px;
    color: var(--text-color);
    background-color: var(--bg-white);
    background-color: var(--bg-list);
  }

  .flow_chart {
    flex-basis: 70%;
    height: 100%;
    padding: 0 0.5rem;
    gap: 0.35rem;
  }

  .chart_size {
    width: calc(45%);
    height: 100%;
    padding-top: 0.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.35rem;
  }

  .account_priority {
    width: 100%;
    font-size: 10px;
  }

  .chart_priority {
    width: 100%;
    height: 80%;
    font-size: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.15rem;
    /*  background-color: #fafc98; */
  }

  .high_diagram {
    width: 100%;
    height: 6px;
    background-color: #c22439;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 5;
  }

  .medium_diagram {
    width: 100%;
    height: 6px;
    background-color: #f4f76a;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 5;
  }

  .normal_diagram {
    width: 100%;
    height: 6px;
    background-color: #7b5deb;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 5;
  }

  .flow_caption {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
  }

  .elt_capt {
    width: 100%;
    height: 0.75rem;
    padding-left: 0.25rem;
    font-size: 9px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
  }

  .circle_symbol {
    position: relative;
    top: -1px;
    width: 9px;
    height: 9px;
    background-color: #7b5deb;
    border-radius: 50%;
    outline: none;
    border: none;
  }

  .red_circle {
    background-color: #c22439;
  }

  .yellow_circle {
    background-color: #f4f76a;
  }

  .blue_circle {
    background-color: #7b5deb;
  }

  /* Adding Tasks */

  .adding_tasks {
    width: 100vw;
    /* padding: 0 0.75rem; */
    padding: 0 1.25rem;
    margin: 0.5rem 0;
    /*  background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .driving_day {
    max-width: 70%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
  }

  .label_day {
    font-family: "REM", sans-serif;
    font-size: 20px;
  }

  .current_day {
    position: relative;
    top: -0.15rem;
    color: var(--text-color);
    font-size: 0.9em;
  }

  .add_task {
    position: relative;
    top: 2px;
    flex-basis: 30%;
    max-width: 8rem;
    padding: 0.25rem;
    color: var(--add-btn-color);
    background-color: var(--accent-color);
    font-size: 12px;
    cursor: pointer;
    border: 1px solid var(--add-btn-color);
    border-radius: 12px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 0.25rem;
  }

  .icon_plus {
    padding: 0.5rem;
    background-color: var(--add-btn-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-basis: 40%;
    max-width: 40%;
  }

  .label_add {
    flex-basis: 70%;
    max-width: 70%;
  }

  /* calendar container */

  .calendar_container {
    position: relative;
    width: 100vw;
    margin: 0.5rem 0;
    background-color: var(--bg-body);
  }

  .list_days-week {
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }

  .day {
    position: relative;
    flex-basis: 14%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .day.active_day {
    color: #fff;
    background-color: var(--accent-color);
  }

  .day_name {
    font-size: 12px;
    color: var(--text-color);
  }

  .day_count {
    color: var(--accent-color);
  }

  .day.active_day .day_name,
  .day.active_day .day_count {
    color: var(--add-btn-color);
  }

  /* list_container */
  .list_container {
    width: 100vw;
    padding: 0.75rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .list_content {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .list_title {
    width: 100%;
    padding: 0.35rem 0;
    color: var(--accent-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .holding_tasks {
    width: 100%;
    padding: 1rem 0;
    max-height: 12.8rem;
    color: var(--text-color);
    gap: 0.5rem;
    scrollbar-width: thin;
    overflow-y: auto;
  }

  .no_tasks {
    width: 64%;
    padding: 0.25rem;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    gap: 0.5rem;
  }

  .task_match_content {
    position: relative;
    width: calc(100% - 1rem);
    height: 45px;
    padding: 1rem;
    background-color: var(--bg-white);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    box-shadow: 0px 0px 3px #22222210;
  }

  .task_match_content ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #00000031;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .task_match_content.done ::before {
    background-color: #f4f76a;
  }

  .task_match_content[data-priority="high"] ::before {
    background-color: #c22439;
  }

  .task_match_content[data-priority="medium"] ::before {
    background-color: #f4f76a;
  }
  .task_match_content[data-priority="normal"] ::before {
    background-color: #7b5deb;
  }

  .task_match {
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task_description {
    display: flex;
    gap: 0.75rem;
  }

  .circle_match {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--bg-bluish-gray);
    display: grid;
    place-items: center;
  }

  .circle_match.done {
    background-color: #30c048;
    border: 2px solid #30c048;
  }

  .remove_task {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid brown;
    display: grid;
    place-items: center;
  }

  /* modal Tasks Container*/

  .modal_calendar_container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    z-index: 10;
  }

  .modal_calendar {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .modalTasks_container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    background-color: #00000031;
    z-index: 5;
  }

  .modalTasks_wrapper {
    position: relative;
    top: 60%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-list);
    border-radius: 24px;
  }

  .gen_title_modal {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    background-color: var(--bg-bluish-gray);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  .modalTasks_content {
    padding: 1rem;
    color: var(--form-text);
  }

  .input_content {
    display: flex;
    flex-direction: column;
  }

  .input_label {
    padding: 0.75rem 0;
    font-size: 18px;
    font-weight: bold;
  }

  .input_title {
    width: 100%;
    height: 40px;
  }

  .input_date {
    width: 100%;
    height: 40px;
  }

  .confirm_selection {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .btn_submit,
  .btn_cancel {
    width: 5rem;
    padding: 0.5rem 1rem;
    color: var(--add-btn-color);
    background-color: var(--accent-color);
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
  }

  .btn_cancel {
    color: var(--bg-bluish-gray);
    background-color: var(--add-btn-color);
  }

  /*priority selection*/
  .wrapper_priority {
    padding: 0.5rem 0;
    gap: 0.5rem;
  }

  .box_priority {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .outer_circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid transparent;
    display: grid;
    place-items: center;
  }

  .inner_circle {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
  }

  .outer_circle[data-priority="high"] {
    background-color: #c22439;
  }

  .outer_circle[data-priority="medium"] {
    background-color: #f4f76a;
  }

  .outer_circle[data-priority="normal"] {
    background-color: #7b5deb;
  }

  .outer_circle.active_priority[data-priority="high"] {
    background-color: #fff;
    border: 2px solid #c22439;
  }

  .outer_circle.active_priority[data-priority="medium"] {
    background-color: #fff;
    border: 2px solid #f4f76a;
  }

  .outer_circle.active_priority[data-priority="normal"] {
    background-color: #fff;
    border: 2px solid #7b5deb;
  }

  .outer_circle.active_priority[data-priority="high"] .inner_circle {
    background-color: #c22439;
  }

  .outer_circle.active_priority[data-priority="medium"] .inner_circle {
    background-color: #f4f76a;
  }

  .outer_circle.active_priority[data-priority="normal"] .inner_circle {
    background-color: #7b5deb;
  }
}

@media (min-width: 416px) {
  /* modal */
  .modalTasks_container {
    padding: 0 2rem;
  }

  .wrapper_priority {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }

  .box_priority {
    width: 100px;
    justify-content: flex-start;
    gap: 1rem;
  }

  .confirm_selection {
    justify-content: flex-end;
  }

  /*current week*/

  .week_range {
    font-size: 14px;
  }

  /* calendar */
  .calendar_container {
    position: relative;
    width: 100vw;
    height: auto;
    margin: 0.5rem 0;
  }

  .list_days-week {
    width: 100vw;
    height: 100%;
    padding: 1rem 0.5rem;
    gap: 0.25rem;
  }

  .day {
    /* background-color: var(--bg-white); */
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid var(--bg-body);
  }

  .day:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid var(--bg-body);
  }

  .day_name {
    padding-top: 0.5rem;
    font-size: 10px;
  }

  /* adding tasks*/

  .driving_day {
    height: 62px;
  }

  .label_day {
    font-size: min(calc(6vw - 5px), 24px);
  }
  .current_day {
    font-size: min(calc(6vw - 5px), 20px);
  }

  .add_task {
    font-size: 1rem;
  }

  /* tasks boards */

  .total_tasks {
    font-size: 32px;
    gap: 0.25rem;
  }
  .litteral_title,
  .label_tasks {
    font-size: 12px;
  }

  .litteral_title {
    font-size: 14px;
  }

  .account_tasks {
    width: 48%;
    height: 120px;
  }

  .flow_tasks {
    width: 49%;
    height: 120px;
  }

  .progress_bar {
    height: 6px;
  }

  .title_week {
    font-size: 18px;
  }

  .chart_priority {
    font-size: 12px;
  }

  .account_priority {
    font-size: 14px;
  }
}
